In [63]:
#import libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [64]:
#method chaining
##df (load and clean)

df = (
    pd.read_csv(
        "/Users/aidenb/Documents/Year_3/DATA_301/Project/Lower_Mainland_Crashes_Full_Data_data.csv")

    .drop(
    ['Latitude', 'Longitude'], axis = 1)
    
    .dropna()
    
)
df

,Location,Municipality,Crash Type,Year,Crash Count
0,HEATHER ST & W 7TH AVE,VANCOUVER,Casualty,2016,2
1,TRUTCH ST & W 8TH AVE,VANCOUVER,Casualty,2016,1
2,COMMERCIAL DR & E 6TH AVE,VANCOUVER,Casualty,2016,2
3,W 7TH AVE & WILLOW ST,VANCOUVER,Casualty,2016,1
4,E 6TH AVE & KEITH DR,VANCOUVER,Casualty,2016,5
...,...,...,...,...,...
28744,MAIN ST & TERMINAL AVE,VANCOUVER,PDO,2018,91
28745,CAMBIE ST & SW MARINE DR & TURNING LANE,VANCOUVER,PDO,2018,99
28746,GRANVILLE ST & W 41ST AVE,VANCOUVER,PDO,2018,109
28747,BOUNDARY RD & KINGSWAY & TURNING LANE,VANCOUVER,PDO,2018,134
28748,BOUNDARY RD & GRANDVIEW HWY & GRANDVIEW HWY ON...,VANCOUVER,PDO,2018,180

In [65]:
#method chaining
##df1 (process)

df1 = (
    df
    
    .sort_values(
    by = ['Year'], ascending = True)
    
   .groupby(
   ['Year'], as_index = False).sum().sort_values(by = ['Crash Count'], ascending = True)
   )
df1

   Year  Crash Count
4  2019        26967
3  2018        27854
0  2015        28212
2  2017        30137
1  2016        31216

In [75]:
#wrap method chains in a function

def load_and_process():

#method chain 1 (load and clean data)

    df = (
    pd.read_csv(
        "/Users/aidenb/Documents/Year_3/DATA_301/Project/Lower_Mainland_Crashes_Full_Data_data.csv")

    .drop(
    ['Latitude', 'Longitude'], axis = 1)
    
    .dropna()
    )

#method chain 2 (process data)

    df1 = (
    df
    
    .sort_values(
    by = ['Year'], ascending = True)
    
     .groupby(
    ['Year'], as_index = False).sum().sort_values(by = ['Crash Count'], ascending = True)
    )
    return df1